

#bottomBar {
    position:relative;
    height:95vw;
    height:40px;
}


#guildName {
    width:15vw;
    font-size:20px;
    font-family:sans-serif;
}

#channelName {
    width:15vw;
    font-size:20px;
    font-family:sans-serif;
}

#message {
    resize:none;
    margin-top:15px;
    outline:none;
    border-bottom-left-radius:1px;
    border-bottom-right-radius:5px;
    border-top-right-radius:15px;
    border-top-left-radius:5px;
    border:1px solid #cccccc;
    padding:1vw;
    width:80vw;
    max-width:80vw;
    max-width:80vw;
    font-size:16px;
    font-family:sans-serif;
}

#messages {
    max-width: 85vw;
    width:85vw;
    height:70vh;
    max-height:70vh;
    overflow-y:scroll;
    font-size:16px;
    font-family:sans-serif;
    word-break: break-all;
}
