
body {
    background-color:#2d2d2d;
    /*overflow:hidden;*/
}


#topBar {
    min-height:30px;
    height:2vh;
}

#guildName {
    float:left;
    margin-left:2vw;
    width:150px;
    max-width:45vw;
    font-size:20px;
    font-family:sans-serif;
    border:none;
    outline:none;
    border-bottom:1px solid transparent;
    border-right:1px solid transparent;
    background-color:#2d2d2d;
    color:#999;
    transition:all .1s ease-in-out;
    padding-bottom:10px;
    padding-right:none;
    text-align:left;
}

#guildName:hover::placeholder {
    transition:all .1s ease-in-out;
    color:white;
}
#guildName:focus::placeholder {
    transition:all .1s ease-in-out;
    color:white;
}
#guildName:hover {
    color:white;
    border-bottom:1px solid white;
}
#guildName:focus {
    border-bottom:1px solid white;
}

#channelName {
    float:left;
    margin-left:5vw;
    width:150px;
    max-width:45vw;
    font-size:20px;
    font-style:italic;
    font-family:sans-serif;
    border:none;
    outline:none;
    border-bottom:1px solid transparent;
    border-left:1px solid transparent;
    background-color:#2d2d2d;
    padding-bottom:10px;
    color:#999;
    transition:all .2s ease-in-out;
    text-align:left;
}

#channelName:hover::placeholder {
    color:white;
    transition:all .1s ease-in-out;
}
#channelName:focus::placeholder {
    color:white;
    transition:all .1s ease-in-out;
}
#channelName:hover {
    color:white;
    border-bottom:1px solid white;
}
#channelName:focus {
    border-bottom:1px solid white;
}

#main {
    max-width:88vw;
    width:88vw;
}

#message {
    float:left;
    resize:none;
    outline:none;
    border-radius:3px;
    border:1px solid transparent;
    border-right:1px solid #cccccc;
    background-color:#515151;
    color:white;
    padding-left:1vw;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:1vw;
    width:99.75%;
    font-size:16px;
    font-family:sans-serif;
    transition:all .2s ease-in-out;
    position:relative;
    display:inline;
}

#message:hover {
    border:1px solid #cccccc;
    transition:all .1s ease-in-out;
}

#message:focus {
    border:1px solid #cccccc;
    transition:all .1s ease-in-out;
}

#messages {
    float:left;
    background-color:#212121;
    color:white;
    height:70vh;
    width:100%;
    margin-top:2vh;
    max-height:70vh;
    overflow-y:scroll;
    font-size:18px;
    font-family:sans-serif;
    padding-top:3vh;
    padding-left:1vw;
    padding-right:1vw;
    word-break: break-all;
    position:relative;
    display:inline;
}


.scrollCustom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #878787;
}

.scrollCustom::-webkit-scrollbar
{
	width: 6px;
	background-color: #636363;
}

.scrollCustom::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
